<h2>Update {{currentMovie.title}}</h2>

<p>Title:</p>
<input id="Title{{movieID}}" type="text" value="{{currentMovie.title}}" />
<br>
<p>Genre:</p>
<select id="Genre{{movieID}}" name="genre" value="{{currentMovie.genre}}">
    <option value="Horror">Horror</option>
    <option value="Comedy">Comedy</option>
    <option value="Drama">Drama</option>
    <option value="Animated">Animated</option>
    <option value="Thriller">Thriller</option>
    <option value="Romance">Romance</option>
</select>
<br>
<p>Year</p>
<input id="Year{{movieID}}" type="number" min="1880" max="2030" value="{{currentMovie.releaseDate}}"/>

<button (click)="UpdateMovie(currentMovie.movieID)">Update Movie</button>